{% extends "nene/base.html" %}

{%load static%}

{% block content %}


 

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">About</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}" >Home</a></li>
            <li class="current" >About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row position-relative">

          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200">
            {% load static %}
            <img src="{% static 'nene/img/about.jpg' %}"></div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">Des analyses précises pour des actions impactantes. Gabithex, le radar intelligent de votre marché.</h2>
            <div class="our-story">
              <h4>2024</h4>
              <h3>Notre histoire</h3>
              <p>Gabithex est une initiative ambitieuse combinant intelligence artificielle et analyse stratégique. Grâce à une expertise approfondie et des outils modernes, nous accompagnons les entreprises dans leur transformation et leur adaptation aux évolutions du marché.</p>
              <ul>
                  <li><i class="bi bi-check-circle"></i> <span>Analyse des tendances sectorielles et veille concurrentielle</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Identification des opportunités de croissance et benchmarks</span></li>
                  <li><i class="bi bi-check-circle"></i> <span>Développement d’outils interactifs et dashboards sur mesure</span></li>
              </ul>
              <p>Notre mission est d’offrir des solutions stratégiques basées sur les données, permettant aux entreprises de mieux comprendre leur environnement concurrentiel, d’anticiper les tendances et d’optimiser leur prise de décision.</p>
              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=Y7f98aduVJ8" class="glightbox stretched-link">Ecouter les mots de <span>Mr. Safaye Diallo</span> - CO</a>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- /About Section -->

    <!-- Team Section -->
    <section id="team" class="team section light-background">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Notre Équipe</h2>
        <p>Une équipe d'experts passionnés, combinant intelligence artificielle et analyse stratégique pour accompagner votre entreprise.</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row justify-content-center gy-4 ">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'nene/img/team/saffaye1.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Saffaye Diallo</h4>
                <span>Co-fondatrice & Responsable Communication et Strategie Marketing</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'nene/img/team/aliou3.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="bi bi-twitter-x"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Aliou Diallo</h4>
                <span>Co-fondateur & Responsable Data et Market Research</span>
              </div>
            </div>
          </div><!-- End Team Member -->


        </div><!-- End Row -->

      </div><!-- End Container -->

    </section><!-- End Team Section -->



    <!-- Skills Section -->
    <section id="skills" class="skills section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos Compétences</h2>
        <p>Une expertise combinée en intelligence artificielle, analyse de données et stratégie marketing pour accompagner les entreprises dans leurs décisions.</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row skills-content skills-animation justify-content-center">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Analyse de données & Machine Learning</span> <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Stratégie de développement commercial</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Web Scraping & Collecte de données</span> <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill"><span>Développement d’applications web (Django, Flask)</span> <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Visualisation des données (Power BI, SAS Viya, R-Shiny)</span> <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

            <div class="progress">
              <span class="skill"><span>Gestion de projet & Leadership</span> <i class="val">85%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div><!-- End Skills Item -->

          </div>

        </div>

      </div>

    </section><!-- /Skills Section -->


    
    <!-- Clients Section -->

    {% include "nene/liste_clients.html" %}

    <!-- /Clients Section -->

 {% endblock %}
