{% extends "nene/base.html" %}

{% load static %}

{% block content %}

    <!-- Page Title -->
    <div class="page-title accent-background">
      <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">About</h1>
        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">About</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    {% load static %}

    <!-- About Section -->
    <section id="about" class="about section">
      <div class="container">
        <div class="row position-relative">
          <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200">
            <img src="{{ about.image.url|default:'{% static "nene/img/about.jpg" %}' }}" class="img-fluid" alt="About Image">
          </div>

          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
            <h2 class="inner-title">{{ about.title|default:"Des analyses précises pour des actions impactantes. FODOR, le radar intelligent de votre marché." }}</h2>
            <div class="our-story">
              <h4>{{ about.year|default:"2024" }}</h4>
              <h3>{{ about.history_title|default:"Notre histoire" }}</h3>
              <p>{{ about.history_text|default:"FODOR est une initiative ambitieuse combinant intelligence artificielle et analyse stratégique..." }}</p>
              <ul>
                <li><i class="bi bi-check-circle"></i> <span>Analyse des tendances sectorielles et veille concurrentielle</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Identification des opportunités de croissance et benchmarks</span></li>
                <li><i class="bi bi-check-circle"></i> <span>Développement d’outils interactifs et dashboards sur mesure</span></li>
              </ul>
              <p>{{ about.mission|default:"Notre mission est d’offrir des solutions stratégiques basées sur les données..." }}</p>
              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="{{ about.video_url|default:'https://www.youtube.com/watch?v=Y7f98aduVJ8' }}" class="glightbox stretched-link">
                  Ecouter les mots de <span>Mr. Safaye Diallo</span> - CO
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- /About Section -->


    <!-- Team Section -->
    <section id="team" class="team section light-background">
      <div class="container section-title" data-aos="fade-up">
        <h2>Notre Équipe</h2>
        <p>Une équipe d'experts passionnés, combinant intelligence artificielle et analyse stratégique...</p>
      </div>

      <div class="container">
        <div class="row justify-content-center gy-4">
          {% for employee in employees %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
              <div class="team-member">
                <div class="member-img">

                  <a href="{% url 'portfolio' employee.slug %}">
                    <img src="{% if employee.photo %}{{ employee.photo.url }}{% else %}{% static 'nene/img/profil_defaut.png' %}{% endif %}" class="img-fluid" alt="">
                  </a>

                  <div class="social">
                    {% if employee.linkedin %}
                        <a href="{{ employee.linkedin }}" target="_blank"><i class="bi bi-linkedin"></i></a>
                    {% endif %}
                    {% if employee.gitHub %}
                        <a href="{{ employee.gitHub }}" target="_blank"><i class="bi bi-github"></i></a>
                    {% endif %}
                    {% if employee.medium %}
                        <a href="{{ employee.medium }}" target="_blank"><i class="bi bi-medium"></i></a>
                    {% endif %}
                  </div>

                </div>

                <div class="member-info">
                  <h4><a href="{% url 'portfolio' employee.slug %}">{{ employee.name }}</a></h4>
                  <span>{{ employee.position }}</span>
                  <a href="{% url 'portfolio' employee.slug %}" class="btn mt-3 btn-outline-info">Visiter Mon Portfolio</a>
                </div>

              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section><!-- End Team Section -->



    <!-- Nos Pratiques Section -->
    <section id="practices" class="practices section">
      <div class="container section-title" data-aos="fade-up">
        <h2>Nos Pratiques</h2>
        <p>FODOR offre des solutions juridiques et financières sur mesure, répondant aux exigences des entreprises et investisseurs en Afrique. Notre expertise locale et internationale nous permet d'accompagner nos clients dans leurs défis stratégiques et opérationnels.</p>
      </div>

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row justify-content-center">
          {% for practice in practices %}
            <div class="col-lg-6 mb-4">
              <div class="practice-card">
                <h1 class="practice-number text-primary display-3 fw-bold">
                  <span>{{ practice.formatted_number|default:"00" }}.</span>
                </h1>              
                <h4 class="practice-title">{{ practice.title }}</h4>
                <p class="practice-description">{{ practice.description }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- /Nos Pratiques Section -->



    <!-- Clients Section -->
    {% include "nene/liste_clients.html" %}
    <!-- /Clients Section -->

{% endblock %}
