{% load static%}

<!-- About Section -->
<section id="about" class="about section">
    <div class="container">
      <div class="row position-relative">
        <div class="col-lg-7 about-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{ about.image.url|default:'{% static "nene/img/about.jpg" %}' }}" class="img-fluid" alt="About Image">
        </div>

        <div class="col-lg-7" data-aos="fade-up" data-aos-delay="100">
          <h2 class="inner-title">Solutions stratégiques et techniques pour exploiter la puissance de vos données</h2>
          <div class="our-story">
            <h4>Présentation</h4>
            <h3>Aliou Diallo - Fondateur de Gabithex</h3>
            <p>Consultant freelance spécialisé en data strategy, intelligence artificielle appliquée et développement web data-driven.</p>
            <p>Gabithex est né d'une vision claire : accompagner les entreprises dans leur croissance grâce à une exploitation intelligente de leurs données, au croisement de la stratégie et de la technologie. Une solution complète à votre problématique Data.</p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Analyse stratégique & veille de marché</li>
              <li><i class="bi bi-check-circle"></i> IA & automatisation</li>
              <li><i class="bi bi-check-circle"></i> Développement d'applications web & API</li>
            </ul>
            <p>Vision : Devenir une référence en intelligence de marché et développement d'outils IA, accompagner l'adoption de la data dans les startups, PME et grandes entreprises.</p>
            <p>Mission : Offrir des solutions sur mesure en market intelligence, développement d'applications internes robustes et exploitation de vos données grâce à des modèles IA performants.</p>
            <div class="watch-video d-flex align-items-center position-relative">
              <i class="bi bi-play-circle"></i>
              <a href="{{ about.video_url|default:'https://www.youtube.com/watch?v=Y7f98aduVJ8' }}" class="glightbox stretched-link">
                Découvrir la vision de <span>l'équipe GABITHEX</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- /About Section -->